# Compiled Python files
*.pyc

# Yaml workflow for GitHub Actions
.github/workflows/*.yaml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# PyCharm files
.idea/

# Virtual environment
venv/
