# Compiled Python files
*.pyc
*.idea

#Yaml workflow for github actions
#*.github

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# PyCharm files
.idea/
__pycache__

# Virtual environment
venv/
